# Site configuration
# 1. Files excluded from Jekyll builds
# 2. Installed Gems
# 3. Gem settings
# 4. Jekyll settings
# 5. Collections
# 6. Jekyll collections settings
# 7. Site settings
# 8. Site favicons & manifest icons
# 9. Site navigation

# 1. Files excluded from Jekyll builds
exclude:
- README.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- screenshot.png
- LICENSE
- CNAME
- Gemfile
- Gemfile.lock
- alembic-jekyll-theme.gemspec
- .jekyll-cache

# 2. Installed Gems
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji

# 3. Gem settings
paginate: 2 # jekyll-paginate > items per page
paginate_path: news/page:num # jekyll-paginate > blog page
#jekyll-mentions: https://twitter.com # jekyll-mentions > service used when @replying
##twitter:
##  username: yhnepi0 # jekyll-seo-tag > Owners twitter username
 #author: Yu Hang Ng # jekyll-seo-tag > default author
 #social: # jekyll-seo-tag > social overrides
  #name: Yu Hang Ng # jekyll-seo-tag > real name
  #links:  # jekyll-seo-tag > social aliases (sameAs)
    #- https://twitter.com/...
    #- https://www.facebook.com/...
    #- https://www.linkedin.com/in/...
    #- https://github.com/hepcomm/hepmist
# markdown: CommonMark # Markdown parse settings, CommonMark performs slightly better an others in build time
# commonmark:
  # options: ["SMART", "FOOTNOTES"]
  # extensions: ["strikethrough", "autolink", "table"]

# 4. Jekyll settings
sass:
  style: compressed # Style compression
permalink: pretty  # Permalink style (/YYYY/MM/DD/page-name/)
#excerpt_separator: <!-- more --> # Marks end of excerpt in posts
timezone: America/Chicago # Timezone for blog posts and alike

# 5. Collections
#collections:
#  posts:
#    title: Posts # Needed for Siteleaf
#    output: true
#    description: "latest" # The post list page content
#    feature_text: |
#      News
#    feature_image: "/assets/news.jpg"

# 6. Jekyll collections settings
defaults:
  -
    scope:
      path: ""
    values:
      image: "/assets/mist_hope.jpeg" # Default image for sharing
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post # Set the default layout for posts
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page # Set the default layout for pages


# 7. Site settings
encoding: utf-8 # Make sure the encoding is right
lang: en-US # Set the site language
title: "hepmist" # Site name or title, also used in jekyll-seo-tag
#logo: "/assets/logos/logo.svg" # Site logo, also used in jekyll-seo-tag
#description: "Anomalies in High Energy Physics" # Site description and default description, also used in jekyll-seo-tag
#url: "https://hepcomm.github.io/hepmist" # Site url, also used in jekyll-seo-tag
#baseurl: ""
#repo: "https://github.com/hepcomm/hepmist"
#email: "yu-hang.ng@huskers.unl.edu"
# disqus: "alembic-1" # Blog post comments, uncomment the option and set the site ID from your Disqus account
# google_analytics: ''
# google_analytics_anonymize_ip: ''
# service_worker: false # Will turn off the service worker if set to false
#css_inline: true # Will insert all styles into a single <style> block in the <head> element and remove the style <link> reference

# default markdown processor and highlighter
markdown: kramdown
highlighter: rouge
error_mode: strict

# 9. Site navigation
navigation_header:
- title: Home
  url: /
- title: False Alarms
  url: /false-alarms/
- title: News
  url: /news/
- title: Search
  url: /search/

#site credits
navigation_footer:
- title: Adopted Alembic Theme
  url: https://alembic.darn.es/

#social_links: # Appears in sidebar. Set the urls then uncomment and comment out as desired
  #Twitter: https://twitter.com/yhnepi0
  #LinkedIn: https://www.linkedin.com/in/...
  #GitHub: https://github.com/hepcomm/hepmist
  #link: https://...
  #RSS: /feed.xml

#sharing_links: # Appear at the bottom of single blog posts, add as desired. The value can be 'true' or the desired button colour
#  Twitter: "#0d94e7"
#  facebook: "#3B5998"
#  Email: true
