<footer class="footer">
  <div class="container">
    <p style="color:white;">
      Community effort is crucial to ensure the information provided on this website is accurate and complete at all times. 
      If you notice any omissions or incorrect information, please contact us immediately. You can also propose changes by creating a pulling request. 
      Step-by-step instructions are provided <a href="https://github.com/hepcomm/hepmist/blob/main/README.md", style="color:red;">here</a>. 
      Your input is welcome and would be greatly appreciated! 
    </p>
    
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
