<footer class="footer">
  <div class="container">
    <p style="color:white;">
      Your input is welcome and would be greatly appreciated! If you notice any omissions or incorrect information, please contact us immediately. You can also propose changes by creating a pulling request. Step-by-step instructions are provided <a href="https://github.com/hepcomm/hepmist/blob/main/README.md", style="color:red;">here</a>. 
    </p>
    
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
